<div class='row'>
   <div class='col-1 top'>
      <div class='row center'>
        <img class='commit-title-checkbox' width=20>
      </div>
   </div><div class='col-11 top'>
      <a href='\{{url}}'>
        <label id="commit-\{{commit.id}}" class='label commit-title left'>
        \{{messageElement}}
        </label>
      </a>
      <label class='label commit-author right'>
         [\{{commit.author}}]
      </label>
   </div>
</div>
