<div class='row'>
   <div class='col-1 top'>
      <div class='row center'>
        <img class='commit-title-checkbox' width=20>
      </div>
   </div><div class='col-11 top'>
      <label class='label commit-title left'>
      <a href="">\{{messageElement}}</a>
      </label>
      <label class='label commit-author right'>
         [\{{commit.author}}]
      </label>
   </div>
</div>
