<div id="overlay" class="overlay center">
  <h1 class="title title-overlay">Select your server</h2>
  <img id="gitlab" class="image-button" src='/public/assets/images/gitlab-logo.png' height='190'>
  <img id="github" class="image-button" src='/public/assets/images/github-logo.png' height='190'>
</div>
