<div id="releaseNote" class='row releaseNote-div'>
  <h1 contenteditable='true'> Release Notes </h1>
  <hr class="ruler">
  <p contenteditable='true'>Here your description...</p>
  <br>
  <h2 contenteditable='true'>Features</h2>
  <ul id='features' contenteditable='true'>
    <li></li>
  </ul>
  <hr class="ruler">
  <h2 contenteditable='true'>Fixes</h2>
  <ul id='fixes' contenteditable='true'>
    <li></li>
  </ul>
</div>
