<div id="releaseNote" class='row releaseNote-div'>
  <h1 id="releaseNoteTitle"> Release Notes </h1>
  <hr class="ruler">
  <p id="releaseNoteDescription">Here your description...</p>
  <br>
  <h2 id="releaseNoteFeaturesTitle">Features</h2>
  <ul id="releaseNoteFeatures">
    <li></li>
  </ul>
  <hr class="ruler">
  <h2 id="releaseNoteFixesTitle">Fixes</h2>
  <ul id='releaseNoteFixes'>
    <li></li>
  </ul>
</div>
