<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WHSTLR</title>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="/public/assets/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/public/assets/images/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="/public/assets/style.css">
    <link rel="stylesheet" href="/public/bower/sweetalert/dist/sweetalert.css">
    <script src="/public/bower/jquery-3.0.0.min/index.js"></script>
    <script src="/public/bower/handlebars/handlebars.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/bower/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/public/js/alerts.js"></script>
    <script src="/public/js/config.js"></script>
    <script src="/public/js/projects.js"></script>
    <script src="/public/js/tags.js"></script>
    <script src="/public/js/merges.js"></script>
  </head>
  <body>
    <div class="row background">
        {{! Navigation Bar}}
        <ul class="topnav">
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/config/">Config</a></li>
          <li class="right"><a href="/about">About</a></li>
        </ul>
        <div class="row">
          <div class="col-1">
          </div><div class="col-10 page">
            {{! Main}}
            <div class="row main">
              {{{body}}}
            </div>
          </div><div class="col-1"></div>
        </div>
        {{! Footer }}
        <div class="row right footer">
          What Happened Since The Last Release
        </div>
      </div>
    </div>
    <script id='merge' type='text/x-handlebars-template'>
      {{> merges}}
    </script>
    <script id='commitTitle' type='text/x-handlebars-template'>
      {{> commitsTitle}}
    </script>
    <script id='commitBody' type='text/x-handlebars-template'>
      {{> commitsBody}}
    </script>
  </body>
</html>
