- if(commits)
  fieldset.left
    legend Commit Messages
    ul
      each commit in commits
        - var messageElements = []
        - var counter = 0
        - messageElements = commit.message.split(/\n|\r/)
          each messageElement in messageElements
            if messageElement && counter === 0
              li (#{commit.author}) #{messageElement}
              - counter = counter + 1
            else if messageElement
                span= messageElement
                br
            
