<div class="form">
  <h2>Configuration</h2>
  <div class="form-item">
    <span> Repository URL:</span>
    <input type='text' id='baseURL' placeholder="http://your-repository.org/">
  </div>
  <div class="form-item">
    <span> Access Token:</span>
    <input type='text' id='token' placeholder="3dzg38990nd89NzjhdbJrff">
  </div>
  <div class="form-item submit">
    <button class="button" id="btnApplyConfig">Apply</button>
  </div>
</div>
