<div class="row link">
  <img src='/public/assets/images/config-icon.png' height='120'>
</div>
<div class="row">
  <div class="col-3">
  </div><div class="col-9 page-background">
    <div class="row">
      <h2 class="form-title">Configuration</h2>
    </div>
    <div class="row">
      <div class="col-3">
        <label class="label">Repository URL:</label>
      </div><div class="col-9">
        <input class="input" type='text' id='baseURL' placeholder="http://your-repository.org/"/>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label class="label"> Access Token:</label>
      </div><div class="col-9">
        <input class="input" type='text' id='token' placeholder="3dzg38990nd89NzjhdbJrff">
      </div>
    </div>
    <div class="row center">
        <button class="button" id="btnApplyConfig">Apply</button>
    </div>
  </div>
</div>
