<div class="form">
  <h2>Configuration</h2>
  <form id="formCreateNotes" name="applyConfig" method="post" action="/applyConfig">
    <div class="form-item">
      <span> Repository URL:</span>
      <input type='text' name='baseURL' placeholder="http://your-repository.org/">
    </div>
    <div class="form-item">
      <span> Access Token:</span>
      <input type='text' name='token' placeholder="3dzg38990nd89NzjhdbJrff">
    </div>
    <div class="form-item submit">
      <button class="button" id="btnSubmit" onclick='configLoading()' type="submit">Apply</button>
    </div>
  </form>
</div>
