<div class="form">
  <h2>Configuration</h2>
  <form id="formCreateNotes" name="applyConfig" method="post" action="/applyConfig">
    <div class="form-item">
      <span> Repository URL:</span>
      <input type='text' name='baseURL' placeholder="http://your-repository.org/">
    </div>
    <div class="form-item">
      <span> Access Token:</span>
      <input type='text' name='token' placeholder="3dzg38990nd89NzjhdbJrff">
    </div>
    <div class="form-item submit">
      <button class="button" id="btnSubmit" onclick='loading()' type="submit">Apply</button>
    </div>
  </form>
</div>
<script type="text/javascript">
  var loading = function() {
    swal({
      title: "Wait a moment, please!",
      text: "We are applying your configuration ",
      imageUrl: "public/assets/images/loading.png"
    });
  }
</script>
