head
  title WhatHappenedSinceTheLastRelease
  style
    include style.css
  link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css')
  link(rel="icon" type="image/png" href="/public/assets/images/favicon-32x32.png" sizes="32x32")
  link(rel="icon" type="image/png" href="/public/assets/images/favicon-16x16.png" sizes="16x16")
  link(rel="stylesheet" href="/public/bower/sweetalert/dist/sweetalert.css")
  script(src="/public/bower/sweetalert/dist/sweetalert.min.js")
