<div class="row">
  <a href="/config">
    <img class="config" src='/public/assets/images/config-icon.ico' height='40'>
  </a>
</div>
<div class="row center">
  <img src='/public/assets/images/whstlr-logo.png' height='120'>
</div>
<div class="row">
  <div class="col-2">
  </div><div class="col-8">
    <div class="row page-background">
      <div class="row">
        <div class="col-3">
          <label class="label"> Project:</label>
        </div><div class="col-9">
          {{#if projects}}
          <select class="select" id="projects" name="projects">
            <option>Please Select<option>
            {{#each projects}}
              <option value="{{this.name}}")>{{this.name}}</option>
            {{/each}}
          </select>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label class="label"> Version Tag:</label>
        </div><div class="col-9">
          <select class="select" id="tags" name="tags">
            <option>Please Select</option>
          </select>
        </div>
      </div>
      <div class="row center">
        <button class="button" id="btnGenerate">Generate</button>
      </div>
    </div>
  </div><div class="col-2">
  </div>
</div>
<div class="row">
  <div class="col-2">
  </div><div class="col-8">
    <fieldset class="merges-fieldset">
      <legend class="main-legend">Merge Requests</legend>
      <div id="merges" class='row merges-div'>
      </div>
    </fieldset>
  </div><div class="col-2">
  </div>
</div>
