//- index.jade
doctype html
html
  include head
  body
    include navBar
    div.main
      a(href="/config")
        img.config(src='/public/assets/images/config-icon.ico' height='40')
      include header
      div.form
        form#formCreateNotes(name="createNotes",method="post",action="/createNotes")
          div.form-item
            span Project:
            include projects
          br
          div.form-item
            span Version Tag:
            include tags
          br
          div.form-item.submit
            button.button#btnSubmit(onclick='loading()' type="submit") Generate
      include error
      div.container
        include commits
        include mergeRequests
    include footer

script.
  var loading = function () {
    swal("Please Wait", "We are processing your request...", "warning");
  }

script.
  $(document).on("change", '#projects', function(e) {
    var project = $(this).val()
    $.ajax({
      type: "POST",
      data: {project: project},
      url: '/getTags',
      dataType: 'json',
      success: function(json) {
        var $tags = $("#tags");
        $tags.empty(); // remove old options
        $.each(json, function(value, key) {
          $tags.append($("<option></option>").attr("value", key.name).text(key.name));
        })
      }
    })
  })
