//- index.jade
doctype html
html
  include head
  body
    div.background
      include navBar
      div.main
        a(href="/config")
          img.config(src='/public/assets/images/config-icon.ico' height='40')
        include header
        div.form
          form#formCreateNotes(name="createNotes",method="post",action="/createNotes")
            div.form-item
              span Project:
              include projects
            br
            div.form-item
              span Version Tag:
              include tags
            br
            div.form-item.submit
              button.button#btnSubmit(onclick='loading()' type="submit") Generate
        if currentProject
          h2 Project: #{currentProject}
        if currentTag
          h3 Tag: #{currentTag}
        div.container
          include mergeRequests
      include footer

script.
  var loading = function () {
    swal({
      title: "Wait a moment, please!",
      text: "We are trying to proccess your request",
      imageUrl: "public/assets/images/thumbs-up.jpg" 
    });
  }
  var error = function (err) {
    swal({
      title: "Baaad!",
      text: "Error",
      imageUrl: "public/assets/images/thumbs-up.jpg" 
    });
  }

script.
  $(document).on("change", '#projects', function(e) {
    var project = $(this).val()
    var $tags = $("#tags")
    $tags.html(
      $("<option />").attr('disabled','disabled').attr('selected','selected').text('Fetching tags...')
    )

    $.ajax({
      type: "POST",
      data: {project: project},
      url: '/getTags',
      dataType: 'json',
      success: function(json) {
        $tags.empty()
        $.each(json, function(value, key) {
          $tags.append($("<option />").attr("value", key.name).text(key.name))
        })
      }
    })
  })
