//- index.jade
doctype html
html
  head
    style
      include style.css
    link(rel="stylesheet" href="/public/bower/sweetalert/dist/sweetalert.css")
    script(src="/public/bower/sweetalert/dist/sweetalert.min.js")

  body
    div.main
      h1= title
      h2= subtitle
      div.form
        form#formCreateNotes(name="createNotes",method="post",action="/createNotes")
          div.form-item
            span Repository:   
            input#inputRepositoryUrl(type="text", placeholder="https://your-repo.git", name="repository")
          br
          div.form-item 
            span Last Version Tag:   
            input#inputEndVersion(type="text", placeholder="last version Tag: 'v1.0.0'", name="endVersion")
          br
          div.form-item 
            span New Version:   
            input#inputNewVersion(type="text", placeholder="new version: 'v2.0.0'", name="newVersion")
          br
          div.form-item
            button.form-item#btnSubmit(onclick='loading()' type="submit") Generate
      if successMessage
        br
        div.output.successMessage
          a(class='button', href= successMessage) &raquo See your file in the browser
      else if error
        br
        div.output.error
          span= error
script.
  var loading = function() {
    swal("Please Wait", "We are processing your request...", "warning");
  }
