<div class="row">
  <div class="col-3 top">
    <a href="/config">
      <img class="config" src='/public/assets/images/config-icon.ico' height='40'>
    </a>
  </div><div class="col-6 middle">
    <div class="row center">
      <img src='/public/assets/images/whstlr-logo.png' height='120'>
    </div>
  </div><div class="col-3 top">
    <div class="row right">
      <label class="label inline-block modus">Commits / Merges</label>
      <label class="switch middle">
        <input id="showModus" type="checkbox">
        <div class="slider round"></div>
      </label>
    </div>
    <div class="row right">
      <label class="label inline-block modus">Edit Modus</label>
      <label class="switch middle">
        <input id="editModus" type="checkbox">
        <div class="slider round"></div>
      </label>
    </div>
    <div class="row right">
      <label class="label inline-block modus">View Markdown</label>
      <label class="switch middle">
        <input id="markdownModus" type="checkbox">
        <div class="slider round"></div>
      </label>
    </div>
  </div>
  <!-- Rounded switch -->
</div>
<div class="row">
  <div class="col-2">
  </div><div class="col-8">
    <div class="row page-background">
      <div class="row">
        <div class="col-3">
          <label class="label"> Project:</label>
        </div><div class="col-9">
          <select class="select" id="projects" name="projects">
            <option>Please Select<option>
              <option value="{{this.name}}")>{{this.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label class="label"> Version Tag:</label>
        </div><div class="col-9">
          <select class="select" id="tags" name="tags">
            <option> --- Select your Project first ---</option>
          </select>
        </div>
      </div>
      <div class="row center">
        <button class="button" id="btnGenerate">Generate</button>
      </div>
    </div>
  </div><div class="col-2">
  </div>
</div>
<div class="row">
  <div class="col-6 top">
    <fieldset class="merges-fieldset">
      <legend class="main-legend">Merge Requests</legend>
      <div id="merges" class='row merges-div'>
      </div>
    </fieldset>
    <fieldset class="commits-fieldset">
      <legend class="main-legend">Commits</legend>
      <div class='row commit-div'>
        <div id='commits' class='row commits-div'>
        </div>
      </div>
    </fieldset>
  </div><div class="col-6 top">
    <fieldset class="release-note-fieldset">
      <legend class="main-legend">Your Release Notes</legend>
      {{> releaseNote}}
    </fieldset>
    <fieldset class="md-fieldset">
      <legend class="main-legend">Markdown</legend>
      <div class='row md-div'>
        <textarea onclick="copyToClipboard('#md')" id="md" rows="30" cols="39" readonly>
        </textarea>
      </div>
    </fieldset>
  </div>
</div>
