//- index.jade
doctype html
html
  include head
  body
    include navBar
    div.main
      include header
      div.form
        form#formCreateNotes(name="createNotes",method="post",action="/getProject")
          div.form-item
            span Project:
            include projects
          br
          div.form-item
            span Version Tag:
            include tags
          br
          div.form-item.submit
            button.button#btnSubmit(onclick='loading()' type="submit") Generate
      include error
      div.container
        include commits
        include mergeRequests
    include footer

script.
  var loading = function() {
    swal("Please Wait", "We are processing your request...", "warning");
  }
