.form-item{
  display: block;
}
.error{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: solid 2px red;
  background-color: red;
  color: white;
}
.successMessage{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: solid 2px black;
  background-color: white;
  color: black;
}
