*{
  float: none;
  clear: both;
}
.title > h1{
  clear: none;
  float: right;
  color: #F9F9F9;
  margin-right: 10px;
  margin-bottom: 60px;
}
.title > img{
  clear: none;
  float: right;
  margin: 10px;

}
h2{
  float: left;
  clear: both;
}
.main{
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  min-width: 400px;
  min-height: 100vh;
  background-color: #222;
}
.form{
  border: solid 1.5px #505050;
  padding: 10px;
  clear: both;
  margin: 0 auto;
  max-width: 700px;
  min-width: 300px;
}
.form-item{
  padding-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.form-item span{
  width: 30%;
  float: left;
  clear: both;
  color: #F9F9F9;
  padding-right: 10px;
}
.form-item input{
  width: 66%;
  float: right;
  clear: right;
}
.form-item.submit{
  display: flex;
}
.form-item > .button{
  background-color: #105300;
  color: #F9F9F9;
  height: 40px;
  border: solid 3px #102300;
  border-radius: 15px;
  display: inline-block;
  margin: auto;
  width: 50%;
}
.form-item.button:hover{
  cursor: pointer;
  background-color: #4CAF50;
  border: solid 2px #303030;
}
.output{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
  overflow: auto;
}
.output.error{
  border: solid 2px #505050;
  background-color: #930000;
  color: #F9F9F9;
}
.output.successMessage{
  border: solid 2px black;
  background-color: #F9F9F9;
  color: black;
}
.about{
  color: #F9F9F9;
  padding: 20px;
}
.title{
  display: block;
  clear: both;
  width: 100%;
}
.header{
  background-color: #333;
  color: #F9F9F9;
  height: 60px;
  width: 100%;
}
.footer{
  padding: 15px;
  font-weight: bold;
  text-align: right;
  background-color: #333;
  color: #F9F9F9;
  height: 30px;
}
li{
  clear: none;
}
body {margin: 0;}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
