body > *{
  --gray-dark: #262626;
  --orange: #F5A017;
  --yellow-light: #EDE0AE;
  --yellow-dark: #F8C74A;
  --yellow: #F3D538;
  --bold: 600;
  --normal: 400;
  font-size: 16px;
  line-height: 32px;
  font-weight: var(--normal);
  color: var(--gray-dark);
}
*{
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/** grid System **/
.row{
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
[class^="col-"] > *{
  width: 100%;
  height: 100%;
}
[class^="col-"]{
  height: 100%;
  display: inline-block;
  margin: 0;
}
.col-1{
  width: 8.33%;
}
.col-2{
  width: 16.66%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.33%;
}
.col-5{
  width: 41.66%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.33%;
}
.col-8{
  width: 66.66%;
}
.col-9{
  width: 75%;
}
.col-10{
  width: 83.33%;
}
.col-11{
  width: 91.66%;
}
.col-12{
  width: 100%;
}
/** Backgrounds **/
.background {
  background-image: url(/public/assets/images/background-all.png);
  background-repeat: repeat;
  min-width: 950px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.main{
  padding: 2em;
  width: 100%;
  min-width: 700px;
  min-height: 100vh;
  background-image: url(/public/assets/images/background.png);
  background-repeat: repeat;
}
.page-background{
  background-color: rgba(26, 26, 26, .5);
  border-radius: 10px;
  padding: .75rem;
  margin: .8rem auto;
  min-width: 440px;
  max-width: 700px;
}
.page{
  padding: 0;
}
/** Align **/
.inline-block{
  display: inline-block;
}
.block{
  display: block;
}
.top{
  vertical-align: top;
}
.middle{
  vertical-align: middle;
}
.bottom{
  vertical-align: bottom;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
/** Form **/
.form-title{
  margin: 0;
  padding:1em;
  font-size: 1.5em;
  color: var(--yellow-light);
  font-weight: var(--bold);
}
.label{
  color: var(--yellow-light);
  text-align: left;
  padding: .50rem;
  font-size: .8rem;
  font-weight: var(--normal);
}
.label-button{
  color: var(--gray-dark);
}
.input{
  height: 1.6rem;
  font-size: .8rem;
  border: none;
  background-color: var(--yellow-light);
  border-radius: 10px;
  padding-left: .25em;
}
.select{
  height: 1.6rem;
  font-size: .8rem;
  border: none;
  background-color: var(--yellow-light);
  border-radius: 10px;
  padding-left: .25rem;
}
.button{
  color: var(--yellow-light);
  width: 12rem;
  margin: .20rem 0;
  background-color: var(--gray-dark);
  border-radius: 10px;
  font-size: .8rem;
  font-weight: var(--normal);
  display: inline-block;
}
.button:hover{
  cursor: pointer;
  color: var(--gray-dark);
  background-color: var(--orange);
}
.about{
  color: var(--gray-dark);
  padding: 20px;
}
.title{
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
}

.footer{
  padding: .5rem;
  font-weight: var(--bold);
  background-color: var(--gray-dark);
  color: var(--yellow-light);
}
li{
  clear: none;
}
ul.topnav {
  line-height: .5rem;
  font-size: .8rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: solid;
  background-color: var(--gray-dark);
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: var(--yellow-light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover{
  background-color: var(--yellow-light);
  color: var(--gray-dark);
}
/*
ul.topnav li a.active {
  background-color: var(--orange)
}*/

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.container{
  overflow: auto;
}
/** commits **/
.commit-title{
  font-weight: var(--bold);
  font-size: 1em;
  padding-left: 0;
}
a{
  text-decoration: none;
}
.commit-author{
  font-size: .8em;
  color: var(--gray-dark);
}
.commit-body{
  padding-left: 0;
  line-height: 1em;
  text-align: left;
  font-size: 1em;
  color: var(--gray-dark);
}
.commit-messages-container{
  padding: .33em;
  display: none;
  background: var(--darkkhaki);
}
/*** checkbox ***/
input[type=checkbox] {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-appearance: none;
    outline: 0;
    cursor: pointer;
}
input[type=checkbox]:checked {
  background-image: url("/public/assets/images/git-commit-checked.png");
}
input[type=checkbox]:hover:not(checked){
  background-image: url("/public/assets/images/git-commit-hover-checked.png");
}
input[type=checkbox]:hover:checked{
  background-image: url("/public/assets/images/git-commit-hover.png");
}
input[type=checkbox]:not(:checked) {
  background-image: url("/public/assets/images/git-commit.png");
}

a{
  text-decoration: none;
  color: var(--orange);
}
a:hover{
  color: var(--yellow-dark);
}
a:visited{
  color: var(--orange);
}
.main-legend {
  padding: 0.2em 0.5em;
  border: 2px solid var(--gray-dark);
  background-color: var(--orange);
  color: var(--yellow-light);
  font-weight: bold;
  font-size:.9em;
  text-align:center;
  }
/*** merges ***/
[id^="merge-"]{
  background: var(--mediumSlateBlue);
  border: solid 2px var(--yellow-light);
  margin-top: .75em;
}
.merges-div {
  overflow-y: scroll;
  height: 700px;
  padding: 1em;
}
.commits-div {
  height: 700px;
  overflow-y: scroll;
  padding: 1em;
}
.merges-fieldset {
  display: none;
  margin: 0 auto;
  border:2px solid var(--gray-dark);
  max-width: 700px;
  min-width: 340px;
  background-color: rgba(26, 26, 26, 0.6);
}
.commits-fieldset {
  display: none;
  margin: 0 auto;
  border:2px solid var(--gray-dark);
  background-color: rgba(26, 26, 26, 0.5);
  max-width: 700px;
  min-width: 340px;
}

.merge-title{
  padding: 0 .75em;
  font-weight: var(--bold);
  font-size: 1.15em;
  color: var(--gray-dark);
  border: solid 2px var(--yellow-light);
  background: var(--gray-dark);
}

.merge-subtitle{
  padding: 0 1em;
  font-size: 1.10em;
  text-align: left;
  font-weight: var(--bold);
  color: var(--gray-dark);
}
.merge-info{
  display: block;
  padding: 0 1em;
  font-size: 1em;
  line-height: 1em;
  text-align: left;
  font-weight: var(--normal);
  color: var(--gray-dark);
}
/** config button **/
.config:hover{
  height: 45px;
}
/** Release Note **/
.release-note-fieldset {
  display: none;
  border:0;
  max-width: 700px;
  min-width: 340px;
  padding: 1rem;
  background-color: rgba(245, 160, 23, 0.5);
}
.md-fieldset {
  display: none;
  border:0;
  max-width: 700px;
  min-width: 340px;
  padding: 1rem;
  background-color: rgba(245, 160, 23, 0.5);
}
.releaseNote-div{
  background-color: var(--yellow-light);
  height: 670px;
  padding: 1.5rem;
  overflow-y: scroll;
}
.md-div{;
  background-color: var(--yellow-light);
  padding: 1.5rem;
  height: 670px;
}
#md{
  padding: .35rem;
  min-height:100px;
  height:100%;
  width:100%;
  resize: none;
  background-color: var(--lightGray);
}
#releaseNoteFeatures{
  padding: 0 1.5rem;
}
#releaseNoteFixes{
  padding: 0 1.5rem;
}
.ruler{
  margin: 1rem 0;
}

/** on/off button **/
/* The switch - the box around the slider */
.modus {
  padding: 0 1rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: inset 0 0 10px #000000;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  right: 2px;
  bottom: 1px;
  background: var(--gray-dark);
  -webkit-transition: .3s;
  transition: .1s;)
}

input:checked + .slider {
  background-color: var(--orange);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--paleBlue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
  border: solid 2px var(--gray-dark);
}

.slider.round:before {
  border-radius: 50%;
}
