body > *{
  --darkSlateGray: #222;
  --darkGray: #444;
  --brightGray: #999;
  --lightGray: #EEE;
  --dimPurple: #849;
  --brightPurple: #879;
  --royalBlue: #55F;
  --mediumSlateBlue: #97F;
  --whiteBlue: #DDF;
  --paleBlue: #9BF;
  --darkkhaki: #BA5;
  --dimBrown: #875;
  --sandyBrown: #FE5;
  --bold: 600;
  --normal: 400;
  font-size: 16px;
  line-height: 32px;
  font-weight: var(--normal);
  color: var(--darkSlateGray);
}
*{
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/** grid System **/
.row{
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
[class^="col-"] > *{
  width: 100%;
  height: 100%;
}
[class^="col-"]{
  height: 100%;
  display: inline-block;
  margin: 0;
}
.col-1{
  width: 8.33%;
}
.col-2{
  width: 16.66%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.33%;
}
.col-5{
  width: 41.66%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.33%;
}
.col-8{
  width: 66.66%;
}
.col-9{
  width: 75%;
}
.col-10{
  width: 83.33%;
}
.col-11{
  width: 91.66%;
}
.col-12{
  width: 100%;
}
/** Backgrounds **/
.background {
  background-color: var(--darkGray);
  min-width: 950px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.main{
  padding: 2em;
  width: 100%;
  min-width: 700px;
  min-height: 100vh;
  background-color: var(--brightPurple);
}
.page-background{
  background-color: var(--darkSlateGray);
  border-radius: 10px;
  padding: .75rem;
  margin: .8rem auto;
  min-width: 440px;
  max-width: 700px;
}
.page{
  padding: 0;
}
/** Align **/
.inline-block{
  display: inline-block;
}
.block{
  display: block;
}
.top{
  vertical-align: top;
}
.middle{
  vertical-align: middle;
}
.bottom{
  vertical-align: bottom;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
/** Form **/
.form-title{
  margin: 0;
  padding:1em;
  font-size: 1.5em;
  color: var(--whiteBlue);
  font-weight: var(--bold);
}
.label{
  color: var(--whiteBlue);
  text-align: left;
  padding: .50rem;
  font-size: .8rem;
  font-weight: var(--normal);
}
.input{
  height: 1.6rem;
  font-size: .8rem;
  border: none;
  background-color: var(--whiteBlue);
  border-radius: 10px;
  padding-left: .25em;
}
.select{
  height: 1.6rem;
  font-size: .8rem;
  border: none;
  background-color: var(--whiteBlue);
  border-radius: 10px;
  padding-left: .25rem;
}
.button{
  color: var(--whiteBlue);
  width: 12rem;
  margin: .20rem 0;
  background-color: var(--dimPurple);
  border-radius: 10px;
  font-size: .8rem;
  font-weight: var(--normal);
  display: inline-block;
}
.button:hover{
  cursor: pointer;
  color: var(--whiteBlue);
  background-color: var(--paleBlue);
  box-shadow: inset 0 0 2rem var(--royalBlue);
}
.about{
  color: #292929;
  padding: 20px;
}
.title{
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
}

.footer{
  padding: 15px;
  font-weight: var(--bold);
  background-color: var(--darkSlateGray);
  color: var(--whiteBlue);
}
li{
  clear: none;
}
ul.topnav {
  line-height: .5rem;
  font-size: .8rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--darkSlateGray);
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: var(--whiteBlue);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: var(--whiteBlue);
  color: var(--darkSlateGray);
}

ul.topnav li a.active {
  background-color: var(--dimPurple)
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.container{
  overflow: auto;
}
/** commits **/
.commit-title{
  font-weight: var(--bold);
  font-size: 1em;
}
.commit-author{
  font-size: .8em;
  color: var(--darkSlateGray);
}
.commit-body{
  padding-left: .55em;
  line-height: 1em;
  text-align: left;
  font-size: 1em;
  color: var(--darkSlateGray);
}
.commit-messages-container{
  padding: .33em;
  display: none;
  background: var(--darkkhaki);
}
.main-legend {
  padding: 0.2em 0.5em;
  border: 2px solid var(--darkSlateGray);
  background-color: var(--dimPurple);
  color: var(--whiteBlue);
  font-weight: bold;
  font-size:.9em;
  text-align:center;
  }
/*** merges ***/
[id^="merge-"]{
  background: var(--mediumSlateBlue);
  border: solid 2px var(--whiteBlue);
  margin-top: .75em;
}
.merges-div {
  overflow-y: scroll;
  height: 800px;
  max-width: 700px;
  min-width: 440px;
  padding: 1em;
}
.commits-div {
  overflow-y: scroll;
  padding: 1em;
}
.merges-fieldset {
  display: none;
  margin: 0 auto;
  border:2px solid var(--darkSlateGray);
  max-width: 700px;
  min-width: 440px;
}
.commits-fieldset {
  background-color: var(--darkkhaki);
  display: none;
  margin: 0 auto;
  border:2px solid var(--darkSlateGray);
  max-width: 700px;
  min-width: 440px;
}
.merge-title{
  padding: 0 .75em;
  font-weight: var(--bold);
  font-size: 1.15em;
  color: var(--darkSlateGray);
  text-decoration: underline;
  border: solid 2px var(--whiteBlue);
  background: var(--darkkhaki);
}

.merge-subtitle{
  padding: 0 1em;
  font-size: 1.10em;
  text-align: left;
  font-weight: var(--bold);
  color: var(--darkSlateGray);
}
.merge-info{
  padding: 0 1em;
  font-size: 1em;
  line-height: 1em;
  text-align: left;
  font-weight: var(--normal);
  color: var(--darkSlateGray);
}
/** config button **/
.config:hover{
  height: 45px;
}
/*** checkbox ***/
input[type=checkbox] {
   /*position: absolute;
   top: -9999px;
   left: -9999px;*/
}

img.commit-title-checkbox {
  line-height: 1em;
  vertical-align: middle;
  content:url("/public/assets/images/git-commit.png");
  cursor: pointer;
}
input[type=checkbox]:checked ~ img.commit-title-checkbox {
  background-color: #44FF44;
  content:url("/public/assets/images/git-merge.png")
}
/** on/off button **/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lightGray);
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: inset 0 0 10px #000000;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  right: 2px;
  bottom: 1px;
  background: radial-gradient(var(--dimPurple), var(--darkSlateGray), var(--dimPurple));
  -webkit-transition: .3s;
  transition: .1s;)
}

input:checked + .slider {
  background-color: var(--sandyBrown);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--paleBlue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
  border: solid 2px var(--darkSlateGray);
}

.slider.round:before {
  border-radius: 50%;
}
